<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo!</title>
</head>
<body>
    <h1>Hola mundo!</h1>
</body>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error porro pariatur officiis praesentium, eligendi dolorem recusandae architecto libero quidem reiciendis mollitia suscipit sunt obcaecati, expedita et debitis ex labore eum.</h2>
</html>